/*@import url('https://fonts.googleapis.com/css?family=Flavors&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Irish+Grover&display=swap');

* {
	box-sizing: border-box;
}

/* --KEYFRAMES-- */

@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

@keyframes color-change-4x {
  0% {
    background: #ffe556;
  }
  33.3333% {
    background: #fa916e;
  }
  66.666% {
    background: #c086c4;
  }
  100% {
    background: #35c8cc;
  }
}

/* --CLEARFIX-- */
.row::before,
.row::after {
	content: "";
	display: table;
	clear: both; }


body {
	/*font-family: 'Flavors', cursive;*/
	font-family: 'Irish Grover', cursive;
	margin: 0;
	padding: 0;
	animation: color-change-4x 10s linear infinite alternate both;

}

a {
	text-decoration: none;
	text-transform: uppercase;
	/*letter-spacing: 2px;*/
}

.container {
	max-width: 1600px;
	width: 100%;
	margin: 1% auto;
}

header {
	position: relative;
}

/* --BASIC NAV-- */
.logo {
	width: 25%;
	margin: 0;
	padding: 2% 0 2% 4%;
	animation: shake-bottom 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

nav {
	width: 80%;
	margin: 0 auto;
	box-shadow: 0px 0px 20px 0px rgba(72,34,71,0.57);
	border-radius: 20px 20px 0 0;
	background: linear-gradient(172deg, #c95392 25%, #9ed2cf 55%);
}

nav ul {
	list-style: none;
}

nav .main_menu {
	display: inline-block;
	float: right;
	width: 65%;
	z-index: 3;
}

nav .main_menu li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 12% 5% 15%;
	transition: .5s;
	height: 100%;
}

nav .main_menu li a {
	color: #4d1a4b;
	font-size: 28px;
	margin: 0 auto;
	padding: 40% 0;
	transition: .5s;

}

nav .main_menu li:hover  {
	padding-top: 15%;
}

nav ul li a:hover {
	color: #fff;
}

.fairy_tales {
	background: #ffe556;
}

.games {
	background: #fa916e;
}

.drawings {
	background: #c086c4;
}

.shop {
	background: #35c8cc;
}

nav .main_menu .fairy_tales {
	border-radius: 20px 0 0 0;
}

nav .main_menu .shop {
	border-radius: 0 20px 0 0;
}

/* --HAMBURGER MENU-- */
nav .hamburger {
	display: none;
	position: fixed;
	z-index: 11;
	top: 0;
	right: 0;
	animation: color-change-4x 10s linear infinite alternate both;
	width: 100px;
	height: 100px;
	border-bottom-left-radius: 100%;
}

nav .hamburger .menu {
	z-index: 12;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 80px;
	border-bottom-left-radius: 100%;
}

nav .hamburger .menu .open {
	background: #fff;
	position: fixed;
	z-index: 13;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	display: block;
	cursor: pointer;
	transition: opacity 0.2s linear;
	opacity: 0.5;
	border-bottom-left-radius: 100%;
}

nav .hamburger .menu .open:hover {
	opacity: 0.9;
}

nav .hamburger span {
	display: block;
	float: left;
	clear: both;
	height: 4px;
	width: 20px;
	border-radius: 20px;
	background: #4d1a4b;
	position: absolute;
	right: 10px;
	top: 2px;
	transition: all 0.4s ease;
}

nav .hamburger span:nth-child(1) {
	margin-top: 10px;
}

nav .hamburger span:nth-child(2) {
	margin-top: 17px;
}

nav .hamburger span:nth-child(3) {
	margin-top: 24px;
}

nav .hamburger .menu .open span .sub-menu {
	transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	height: 0;
	width: 0;
	right: 0;
	top: -10px;
	position: absolute;
	border-left: 4px solid #fff;
	border-bottom-left-radius: 100%;
	overflow: hidden;
}

nav .hamburger .menu .open span .sub-menu li {
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;
	float: right;
	clear: both;
	padding: 7px;
	width: 150px;
	border-radius: 10px;
}

nav .hamburger .menu .open span .sub-menu li:hover {
		box-shadow: 0px 0px 5px 0px #fff;
}

nav .hamburger .menu .open span .sub-menu li i {
	padding-right: 5px;
}

nav .hamburger .menu .open span .sub-menu li:nth-child(2) {
	top: 50px;
	left: 30px;
}

nav .hamburger .menu .open span .sub-menu li:nth-child(3) {
	top: 90px;
	left: 50px;
}

nav .hamburger .menu .open span .sub-menu li:nth-child(4) {
	top: 130px;
	left: 80px;
}

nav .hamburger .menu .openned span .sub-menu {
	height: 300px;
	width: 300px;
}

nav .hamburger .menu .openned span:nth-child(1), nav .hamburger .menu .openned span:nth-child(3) {
	display: none;
}

nav .hamburger .menu .openned span:nth-child(2) {
	border-radius: 50%;
	margin-top: 10px;
	border: 5px solid #4d1a4b;
	background: none;
	height: 20px;
	width: 20px;
}

/* --HERO-- */
.hero {
	transition-duration: 0.6s;
	background: #9ed2cf;
	box-shadow: 0px 23px 20px 0px rgba(72,34,71,0.6);

	margin: -10px auto 0;
	width: 80%;
	z-index: 2;
	position: relative;
	letter-spacing: 2px;
}

.hero h2 {
	text-decoration-line: underline overline;
}

.hero p {
	text-align: justify;
	font-weight: bold;
}

.hero_small {
	margin-bottom: 2%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.hero_small .T_btn_container {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hero_small .T_btn_container .T_button {
	background: rgba(255,255,255,0.6);
	border: 2px solid #fff;
	padding: 1% 2%;
	margin-top: 20px;
	border-radius: 8px;
	float: right;
	transition: 0.6s;
	flex: 0.5;
	text-align: center;
}

.hero_small .T_btn_container .T_button:before {
	pointer-events: none;
	background: rgba(0,0,0,0.3);
	position: absolute;
	top: 70px;
	right: 30%;
	content: '';
	height: 5px;
	width: 40%;
	border-radius: 50%;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
}

.hero_small .T_btn_container .T_button:hover {
	box-shadow: 0 0 10px 5px #fff;
}

.main_hero {
	width: 95%;
	margin: 0 2.5%;
}

.hero img {
	width: 20%;
	flex: 2;
	padding: 1%;
	margin: 2%;
}

.hero .hero_description {
	flex: 3;
	padding: 1% 4%;
}

/* --RWD-- */
@media (max-width: 1400px) {
	nav {
		width: 85%;
	}
	.hero {
		width: 85%;
	}
}

@media (max-width: 1300px) {
	.hero_small .T_btn_container .T_button {
		flex: 0.8;
	}
	.hero_small .T_btn_container .T_button:before {
		width: 70%;
		right: 15%;
	}
}

@media (max-width: 1200px) {
	nav .main_menu li {
		padding-left: 4%;
		padding-right: 4%;
	}
}

@media (max-width: 1100px) {
	nav .main_menu {
		width: 70%;
	}
	nav .main_menu li a {
		font-size: 24px;
		padding-left: 3%;
		padding-right: 3%;
	}
}

@media (max-width: 900px) {
	nav .main_menu {
		display: none;
	}
	nav .hamburger {
		display: block;
	}
	.logo {
		width: 45%;
	}
	nav {
		margin-top: 4%;
	}
	.hero {
		text-align: center;
	}
	.hero img {
		flex: 0.6;
	}
	.hero .hero_description {
		flex: 100%;
	}
	.hero_small .T_btn_container .T_button {
		margin-bottom: 2%;
	}
}

@media (max-width: 600px) {
	nav .hamburger .menu .openned span .sub-menu {
		height: 250px;
		width: 250px;
	}
}

@media (max-width: 500px) {
	.logo {
		width: 35%;
	}
	.hero {
		margin-top: -5px;
	}
	.hero img {
		padding-top: 10%;
	}
	.hero_small .T_btn_container .T_button {
		flex: 1;
	}
	nav .hamburger .menu .openned span .sub-menu {
		height: 250px;
		width: 250px;
	}
	nav .hamburger .menu .open span .sub-menu li {
		font-size: 14px;
		padding: 4px;
		width: 120px;
	}
	nav .hamburger .menu .open span .sub-menu li:nth-child(2) {
		top: 45px;
	}
	nav .hamburger .menu .open span .sub-menu li:nth-child(3) {
		top: 80px;
	}
	nav .hamburger .menu .open span .sub-menu li:nth-child(4) {
		top: 115px;
	}
}

@media (max-width: 450px) {
	nav .hamburger .menu .openned span .sub-menu {
		height: 200px;
		width: 200px;
	}
	nav .hamburger .menu .open span .sub-menu li {
		font-size: 12px;
		padding: 6px 4px;
		width: 100px;
	}
}

@media (max-width: 360px) {
	.hero_small .T_btn_container .T_button:before {
		top: 80px;
	}
	nav .hamburger .menu .openned span .sub-menu {
		height: 180px;
		width: 180px;
	}
	nav .hamburger .menu .open span .sub-menu li {
		font-size: 10px;
		padding: 7px 2px;
		width: 80px;
	}
}