@import url('https://fonts.googleapis.com/css?family=Flavors&display=swap');
@import url('https://fonts.googleapis.com/css?family=Irish+Grover&display=swap');

* {
	box-sizing: border-box;
}

/* --KEYFRAMES-- */
@keyframes shake-lr {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}


@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

@keyframes color-change-4x {
  0% {
    background: #ffe556;
  }
  33.3333% {
    background: #fa916e;
  }
  66.666% {
    background: #c086c4;
  }
  100% {
    background: #35c8cc;
  }
}


/* --CLEARFIX-- */
.row::before,
.row::after {
	content: "";
	display: table;
	clear: both; }


body {
	font-family: 'Flavors', cursive;
	/*font-family: 'Irish Grover', cursive;*/
	margin: 0;
	padding: 0;
	animation: color-change-4x 15s linear infinite alternate both;

}

a {
	text-decoration: none;
	text-transform: uppercase;
	/*letter-spacing: 2px;*/
}

.container {
	max-width: 1600px;
	width: 100%;
	margin: 1% auto;
}

header {
	position: relative;
}

.logo {
	width: 25%;
	margin: 0;
	padding: 2% 0 2% 4%;
	/*animation: shake-lr 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;*/
	animation: shake-bottom 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.logo:hover {
	transform: scale(2);
}

nav {
	width: 80%;
	margin: 0 auto;
	box-shadow: 0px 0px 20px 0px rgba(72,34,71,0.57);
	border-radius: 20px 20px 0 0;
	background: linear-gradient(172deg, #c95392 25%, #9ed2cf 55%);
}

nav ul {
	list-style: none;
	display: inline-block;
	float: right;
	width: 65%;
}

nav ul li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 12% 5% 15%;
	transition: .5s;
	height: 100%;
}

nav ul li a {
	color: #4d1a4b;
	font-size: 28px;
	margin: 0 auto;
	padding: 40% 0;
	transition: .5s;

}

nav ul .nav_li:hover  {
	padding-top: 15%;
}

nav ul .nav_li a:hover {
	color: #fff;
}

.fairy_tales {
	background: #ffe556;
	border-radius: 20px 0 0 0;
}

.games {
	background: #fa916e;
}

.drawings {
	background: #c086c4;
}

.shop {
	background: #35c8cc;
	border-radius: 0 20px 0 0;
}

.fairy_tales:hover ~ .hero {
	background: #ffe556;
}

.games:hover ~ .hero {
	background: #fa916e;
}

.drawings:hover ~ .hero {
	background: #c086c4;
}

.shop:hover ~ .hero {
	background: #35c8cc;
}

.hero {
	background: #9ed2cf;
	display: block;
	position: absolute;
	width: 100%;
	top: 95%;
	left: 0;
	height: 30vh;
	transition: .5s;
}

@media (max-width: 1400px) {
	nav {
		width: 85%;
	}
}


@media (max-width: 1200px) {
	nav ul li {
		padding-left: 4%;
		padding-right: 4%;
	}
}

@media (max-width: 1000px) {
	nav ul {
		width: 70%;
	}
	nav ul li a {
		font-size: 24px;
		padding-left: 3%;
		padding-right: 3%;
	}
}

@media (max-width: 850px) {
	nav ul {
		display: none;
	}
}